.titulo {
    color: rgb(12, 0, 138);
    font-size: 18px;
    font-weight: bold;
}

.paragrafo-simples {
    color: blue;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}