.menu-navegacao ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #2F2F2F; /* 30% cor do projeto */
}

body {
    background-color: #212121; /* 60% cor do projeto */
    margin: 0;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.card { 
    width: 300px; 
    border: 1px solid #8e0808; 
    border-radius: 8px; 
    overflow: hidden; 
    background-color: #665f5f; /* Fundo branco para destacar o produto */
    display: flex; 
    flex-direction: column; /* Joga a imagem em cima e o conteúdo embaixo */
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(254, 252, 252); 
    color: #333; 
}

.card-img {
    width: 100%;
    height: 200px;     
    object-fit: cover; /* Faz a foto preencher o topo perfeitamente */
    display: block;    
}

.card-conteudo { 
    padding: 16px; 
}

.card-conteudo h1 {
    font-size: 1.2rem;
    margin: 0 0 8px 0;
    color: #fff; /* Garante que o texto fique escuro visível */
}

.card-conteudo p {
    font-size: 1rem;
    font-weight: bold;
    color: #8e0808; /* Destaca o preço */
    margin: 0;
}



.banner {
    height: 500px;
    background-image: url("../assets/images/carros/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner button{

  background-color: #8e0808;
}

.banner-conteudo {
  aling-items: flex-start;
}


/*Navegação com imagem*/
.menu-navegacao {
  display: flex;
  align-items: center; /* Alinha logo e links verticalmente no meio */
  background-color: #2F2F2F;
  padding: 0 20px;     /* Espaçamento interno nas laterais da barra */
}

/* Controla o tamanho da imagem da logo */
.menu-navegacao .img-logo {
  height: 80px; 
  width: auto;
  display: block;
}

/* A lista de links */
.menu-navegacao ul {
  display: flex;
  list-style-type: none;
  margin: 0 auto; /* O segredo: o "auto" calcula o espaço dos dois lados e joga a lista pro MEIO exato da tela */
  padding: 0;
}

/* Estilo dos links normais */
.menu-navegacao a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

.menu-navegacao a:hover {
  background-color: #111;
}


body {
  background-color: #212121; /* 60% cor do projeto */
  margin: 0;
}

.bloco-destacado {
  height: 260px;
  background-image: url("../assets/images/bakcground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
