main {
    background-color: #f2f2f2;
    padding: 20px;
}



    main table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 30px;
    }

     main table td, main table th {
        border: 1px solid;
    }

     table td img:hover{
        width: 150px;
        height: 150px;
    }

    header {
        background-color: #710404;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    header nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    header nav ul  li{
    
    }


footer {
    background-color: #710404;
    color: #fff;
    text-align: center;
}